body {
  padding:0;
  margin:0;
  font-family: runescape;
  font-weight: bold;
  overflow-x: hidden;
}

@font-face {
  font-family: runescape;
  src: local("runescape"),
       url(runescape.otf);
       src: url('fonts/runescape.eot'); /* IE9 Compat Modes */
       src: url('fonts/runescape.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/runescape.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/runescape.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/runescape.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/runescape.svg#svgFontName') format('svg'); /* Legacy iOS */
}

div {
    font-family: runescape;
}

/*Images*/
.img-shadow {
    border-radius: 50%;
    box-shadow: 0 0 16px rgba(255, 255, 255, .8);
}
.img-shadow-inset {
  border-radius: 50%;
  border:2px solid #000000;
  box-shadow: inset 0 0 300px 20px rgba(0, 0, 0, 1);
}


/*Text*/
.inset-main-text {
  color: rgb(199, 104, 212);
  font-size: 45px;
  color: #A239CA;
}
.inset-sub-text {
  color: rgb(199, 104, 212);
  font-size: 40px;
}
.menu-text {
  background-color: #FFFFFF;
  font-size: 25px;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.text-glow:hover {
  text-shadow: 0 0 8px rgba(153, 0, 0, .8);
}
.wrapword{
  word-wrap: break-word;
  min-width:50px;
  max-width:700px;
}



/*Animations*/
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
    transform: translateZ(1.1);
    backface-visibility: hidden;
}
.hor-menu a:hover {
    background-color: #A239CA;
    text-shadow: 0px 2px 3px rgba(162,57,202,0.5);
    transition-duration: 0.5s;
}


/*Colors*/
.active {
  /* #4717F6 */
  background-color: #7753F9;
  color: #4717F6;
}
.inactive {
  background-color: #FFFFFF;
  transition-duration: 0.5s;
}


/*Positioning*/
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
ul.hor-menu {
  background-color: #06030F;
  z-index: 1000;
    position: fixed;
    color: #06030F;
    background-color: #06030F;
    list-style-type: none;
    top: 0;
    margin: auto;
    padding: 0;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
}
.hor-menu li {
    display: inline-block;
    float: left;
}
.hor-menu a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
